#tab1{
    -fx-background-color: rgb(255, 154, 114);
    -fx-background-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
    -fx-background-insets: 0, 1;
    -fx-padding: 5 20 5 20;
}

#tab2{
    -fx-background-color: rgb(255, 154, 114);
    -fx-background-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
    -fx-background-insets: 0, 1;
    -fx-padding: 5 20 5 20;
}

#cerrarSesionButton{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: inherit;
    -fx-underline: true;
    -fx-alignment: center;
}

#cerrarSesionButton:hover{
    -fx-text-fill: rgb(255, 172, 139);
    -fx-scale-y: inherit;
    -fx-scale-x: inherit;
}

#bienvenidaLabel{
    -fx-font-size: 16px;
    -fx-font-family: "Yu Gothic UI Semibold";
    -fx-alignment: center;
}

#crearCuentaLabel{
    -fx-font-size: 28px;
    -fx-font-family: "Yu Gothic UI Semibold";
    -fx-alignment: center;
}

#SesionLabel{
    -fx-font-size: 28px;
    -fx-font-family: "Yu Gothic UI Semibold";
    -fx-alignment: center;
}

#btnRegistrarVehiculo{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: inherit;
    -fx-underline: true;
    -fx-alignment: center;
}

#btnRegistrarVehiculo:hover{
    -fx-text-fill: rgb(255, 172, 139);
    -fx-scale-y: inherit;
    -fx-scale-x: inherit;
}

#btnRegistrarCliente{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: inherit;
    -fx-underline: true;
    -fx-alignment: center;
}

#btnRegistrarCliente:hover{
    -fx-text-fill: rgb(255, 172, 139);
    -fx-scale-y: inherit;
    -fx-scale-x: inherit;
}

#btnCerrarVentana{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: inherit;
    -fx-font-size: 20px;
    -fx-alignment: top-left;
    -fx-font-family: "Yu Gothic UI Semibold";
    -fx-font-style: oblique;
}

#btnCerrarVentana:hover{
    -fx-text-fill: rgb(255, 172, 139);
    -fx-scale-y: inherit;
    -fx-scale-x: inherit;
}

.root{
    -fx-background-color: linear-gradient(to top right, rgb(255, 127, 80), rgb(106, 90, 205));
}



.button{
    -fx-font-size: 14px;
    -fx-font-family: "Yu Gothic UI";
    -fx-alignment: center;
    -fx-background-color: rgb(255, 172, 139);
    -fx-background-radius: 6px;
    -fx-border-color: rgb(255, 154, 114);
    -fx-border-radius: 6px;
    -fx-effect: dropshadow(one-pass-box, black, 6, .15, 2, 2);
}

.button:hover{
    -fx-scale-y: .96;
    -fx-scale-x: .96;
    -fx-effect: dropshadow(gaussian, black, 6, .5, 2, 2);
}

.label{
    -fx-font-size: 14px;
    -fx-font-family: "Yu Gothic UI";
    -fx-alignment: center;
}

.text-field{
    -fx-background-color: rgba(255, 188, 161, 0.8);
    -fx-border-color: rgb(255, 161, 123);
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.table-view{
    -fx-font-size: 14px;
    -fx-font-family: "Yu Gothic UI";
    -fx-background-color: rgb(255, 172, 139);
    -fx-background-radius: 6px;
    -fx-border-color: rgb(255, 154, 114);
    -fx-border-radius: 6px;
}

.table-column{
    -fx-background-color: rgb(255, 154, 114);
}

.tab-pane{
    -fx-background-color: rgb(255, 172, 139);
    -fx-background-radius: 6px;
    -fx-border-color: rgb(255, 154, 114);
    -fx-border-radius: 6px;
}